@import 'variables';
// INDEX PAGE
.index__inner-wrapper {
    display: grid;
    grid-template: 1fr minmax(1rem, auto) auto / 100%;
    min-height: 100vh;
    order: 2;
    @media (min-width: 50rem) {
        grid-template: 1fr auto/repeat(8, minmax(auto, 1fr));
    }
    .main {
        order: 4;
        padding: 1rem;
        background-color: #f1f2ff;
        @media (min-width: 50rem) {
            order: 4;
            grid-column: 3/-1;
            padding: 2rem;
        }
    }
    .aside {
        order: 3;
        padding: 3rem;
        padding-top: 5rem;
        background-color: #fff;
        display: grid;
        grid-template-rows: repeat(8, minmax(auto, min-content));
        grid-template-columns: minmax(min-content, max-content);
        grid-row-gap: 1.5rem;
        justify-content: center;
        align-content: flex-start;
        @media (min-width: 50rem) {
            order: 3;
            grid-column: 1/3;
        }
        &__img-wrapper {
            width: 25%;
            justify-self: center;
            @media (min-width: 50rem) {
                width: 55%;
            }
            img {
                //justify-self: center;
                border-radius: 100%;
                &:hover {
                    filter: none;
                }
            }
        }
        &__important-text {
            font-weight: 500;
        }
        &__h1 {
            font-size: 1.6rem;
            font-family: $font-primary;
            font-weight: 500;
            line-height: 1.6;
            display: inline;
        }
        h3 {
            justify-self: center;
            text-align: center;
            font-weight: 300;
        }
        p {
            justify-self: center;
            text-align: center;
        }
        &__contact-link {
            color: $color-primary;
            text-decoration: none;
            font-weight: 500;
            transition: all .4s;
            &:hover {
                color: $color-secondary;
            }
        }
        &__social-icons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 3rem;
            justify-items: center;
            align-items: center;
            margin-top: 2rem;
            .linkedin-icon {
                justify-self: right;
                svg {
                    width: 3rem;
                    transition: all .4s;
                    &:hover,
                    &:focus {
                        transform: scale(1.2);
                    }
                }
            }
            .email-icon {
                justify-self: left;
                svg {
                    width: 3rem;
                    transition: all .4s;
                    &:hover,
                    &:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }
        &__copyright {
            font-size: 1.2rem;
            .love-icon {
                color: $color-primary;
            }
        }
    }
    // GALLERY
    .gallery {
        // Flexbox Default/Fallback - does not produce 100% matching result 
        display: flex;
        flex-wrap: wrap;
        // Use Grid if browser supports it
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(20vh, 200px);
        // play with values here:
        // grid-auto-rows: minmax(0, 1fr);
        // grid-auto-rows: minmax(0, 1fr);
        //	grid-auto-flow: dense;
        @media (min-width: 50rem) {
            grid-gap: 2rem;
        }
        a {
            text-decoration: none;
            .parent {
                align-items: stretch;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex: 1 0 100%;
                flex-direction: column;
                justify-content: flex-end;
                line-height: 3;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                border: 1px solid #e6e6e6;
                cursor: pointer;
                height: 100%;
                transition: all .4s;
                background-color: white;
            }
            .child {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                display: grid;
                align-content: center;
                background-position: center;
                transition: all .4s;
                &::before {
                    content: "";
                    display: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(52, 73, 94, 0.75);
                }
            }
            .bg-socialed {
                background-image: url(../images/portfolios/socialed/logo-bg.png);
            }
            .bg-centennial {
                background-image: url(../images/portfolios/cxd/images/logo-bg.png);
            }
            .bg-tng {
                background-image: url(../images/portfolios/tng/logo-bg.png);
            }
            .bg-aws {
                background-image: url(../images/portfolios/aws-static/logo-bg.png);
            }
            .bg-exampro {
                background-image: url(../images/portfolios/exampro/logo-bg.png);
            }
            .bg-100days {
                background-image: url(../images/day-1.png);
            }
            h2 {
                display: none;
                font-size: 3.5rem;
                font-weight: 400;
                color: #ffffff;
                text-align: center;
                position: relative;
                cursor: pointer;
                text-decoration: none;
                transition: all .4s;
            }
            .parent:hover .child,
            .parent:focus .child {
                transform: scale(1.2);
                transition: all .4s;
                &::before {
                    display: block;
                    transition: all .4s;
                }
            }
            .parent:hover h2,
            .parent:focus h2 {
                display: grid;
                text-decoration: none;
                transition: all .4s;
            }
        }
    }
}